################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/LaboratorioTestBack/bin
/LaboratorioTestBack/obj/Debug/net9.0-windows/ref
/LaboratorioTestBack/obj/Debug/net9.0-windows/refint
/LaboratorioTestBack/obj/Debug/net9.0-windows
/LaboratorioTestBack/obj/Release/net9.0-windows
/LaboratorioTestBack/obj
/LaboratorioBack/.vs/Laboratorio/CopilotIndices/17.13.441.19478
/LaboratorioBack/.vs/Laboratorio/v17
/LaboratorioBack/bin/Debug/net9.0
/LaboratorioBack/bin/Release/net9.0
/LaboratorioBack/.vs/Laboratorio/FileContentIndex
/LaboratorioBack/obj/Container
/LaboratorioBack/obj/Debug/net9.0
/LaboratorioBack/obj/Release/net9.0
/LaboratorioBack/obj
/LaboratorioBack/Properties/PublishProfiles
